{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="card p-4">
      <h3>Bienvenido al Sistema de Administración Autozone</h3>
      <p>Este sistema permite gestionar proveedores, sucursales y almacenes.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-2">
      <img src="https://cdn.milenio.com/uploads/media/2022/10/04/maneja-amplia-linea-productos-accesorios_0_20_1080_672.jpg" class="img-fluid" alt="Autozone">
    </div>
  </div>
</div>
{% endblock %}